main{
  display: contents;
  width: 1366px;
  padding-left: 120px;
  padding-right: 120px;
}

section #project{
  height: 917px;
  margin-bottom: 144px;
}

section #services{
  height: 480px;
  margin-top: 88px;
}


section{
  display: grid;
  justify-content: center;
  p{
    font: var(--subtitle);
    color: var(--red);
  }
  h3{
    font: var(--title-md);
    color: var(--gray-600);
  }
}

#project {
  padding-block: 163px;
  align-items: center;
  background-color: var(--gray-200);
  p{
    justify-self: center;
    margin-bottom: 8px;

  }

  h3{
    font-weight: bold;
    margin-bottom: 56px;
  }
 
}


#feature{
  display: grid;
 

}

.card {
  width: 330px;
  height: 280px;
  background-color: var(--gray-300);
  border-radius: 12px;
  padding: 12px;

  img{
    width: 306px;
    height: 156px;
    border-radius: 8px;
    aspect-ratio: 1/1;
    object-fit: cover;

  }

  figcaption{
    margin-top: 20px;
    h2{
      margin-top: 8px;
    }
  }

}

#services {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 88px 120px 120px;
  gap: 56px;
  height: 480px;
  background-color: var(--gray-100);
  p{
    justify-self: center;
    margin-top: 8px;
  }

  h3{
    font-weight: bold;
    margin-top: 20px;
  }
 
}

section #header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px; 
    
  width: 280px;
  height: 155px;

  box-sizing: border-box;
  border: 2px solid var(--gray-200);
  border-radius: 12px;

}

.devices{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  padding: 0px;
  gap: 24px;

  width: 888px;
  height: 155px;

  flex: none;
  order: 1;
  flex-grow: 0;
}


