#into{
  display: flex;
  max-width: 1040px;
  height: 447px;
  position: absolute;
  padding: 0px;
  left: calc(50% - 1040px/2);
  top: 120px;
  gap: 80px;
  flex-direction: column;
  align-items: center;
}


#info{
  display: inherit;
  flex-direction: column;
  align-items: center;
  max-width: 680px;
  margin: 0px 180px 120px 180px;
  img{
    width: 112px;
    height: 112px;
    object-fit: cover;
    border-radius: 50%;
  }
}



.profile{
  margin-top: 56px;
  width: 680px;
}




